.container {
	height: 800px;
}

header {
	height: 50%;
	background-color: #4083bd;
}

.logoAndLogin {
	display: inline-block;
	position: relative;
	left: 45%;
	top: 40%;
}

.logo {
	position: relative;
	top: 25px;
	display: inline-block;
	height: 60px;
    width: 250px;
    background-image: url(../images/brand.png);
    background-size: cover;
}

.logInButton {
	height: 47px;
	width: 120px;
	background-color: #4083bd;
	display: inline-block;
	margin-left: 25px;
	border-style: outset;
    border-width: 2px;
    border-color: #4a88c7;
    position: relative;
    bottom: 30%;
    left: 10%
}

.logInButtonImage {
	background-image: url("../images/home.png");
	height: 40%;
    width: 20%;
    background-repeat: no-repeat;
    background-size: contain;
    position: relative;
    left: 10%;
    top: 30%;
}

.logInText {
	color: white;
	font-size: 16px;
	position: relative;
	left: 45%;
	bottom: 10%;
	width: 45px;
	font-family: Helvetica;
}

.phonesPic {
	display: inline-block;
	position: relative;
	bottom: 240px;
    left: 167px;
}

.frame {
	background-image: url("../images/frame.png");
    display: inline-block;
    width: 30%;
    position: relative;
    bottom: 334px;
    left: 19%;
    padding: 3%;
    background-repeat: no-repeat;
    background-size: contain;
}

.frameHeader {
	color: #185890;
	font-family: Helvetica;
	font-size: 24px;
}

.frameParagraph {
	font-family: Helvetica;
	font-size: 14px;
}

.boldFont {
	font-weight: bold;
}

footer {
    width: 60%;
    height: 10%;
    position: relative;
    bottom: 32%;
    left: 25%;
}

.footerLinks {
	font-size: 12px;
	display: inline-block;
	padding: 10px;
	text-transform: uppercase;
	color: #4793d4;
	font-family: Helvetica;
}

.copyrights {
	color: grey;
}