/*the height of the container in the body tag*/
.container {
	height: 800px;
}

header {
	height: 50%;
	background-color: #4083bd;
}

/*container for the log in button and the instagram logo*/
.logoAndLogin {
	display: inline-block;
	position: relative;
	left: 45%;
	top: 40%;
}

/*instagram logo styling*/
.logo {
	position: relative;
	top: 25px;
	display: inline-block;
	height: 60px;
    width: 250px;
    background-image: url(../images/brand.png);
    background-size: cover;
}

/*log in button styling*/
.logInButton {
	height: 47px;
	width: 120px;
	background-color: #4083bd;
	display: inline-block;
	margin-left: 25px;
	border-style: outset;
    border-width: 2px;
    border-color: #4a88c7;
    position: relative;
    bottom: 30%;
    left: 10%
}

/*the home image styling on the log in button*/
.logInButtonImage {
	background-image: url("../images/home.png");
	height: 40%;
    width: 20%;
    background-repeat: no-repeat;
    background-size: contain;
    position: relative;
    left: 10%;
    top: 30%;
}

/*the log in button text styling*/
.logInText {
	color: white;
	font-size: 16px;
	position: relative;
	left: 45%;
	bottom: 10%;
	width: 45px;
	font-family: Helvetica;
}

/*the phones on the left hand side styling*/
.phonesPic {
	display: inline-block;
	position: relative;
	bottom: 240px;
    left: 167px;
}

/*the frame on the right hand side styling*/
.frame {
	background-image: url("../images/frame.png");
    display: inline-block;
    width: 30%;
    position: relative;
    bottom: 334px;
    left: 19%;
    padding: 3%;
    background-repeat: no-repeat;
    background-size: contain;
}

/*h1 in the frame styling*/
.frameHeader {
	color: #185890;
	font-family: Helvetica;
	font-size: 24px;
}

/*the description on the frame styling */
.frameParagraph {
	font-family: Helvetica;
	font-size: 14px;
}

/*the bold words in the description styling*/
.boldFont {
	font-weight: bold;
}

/*the container for the app store images styling*/
.appStoreImages{
	display: inline-block;
	position: relative;
	bottom: 255px;
	right: 14%;
	width: 30%;
}

/*containers' styling for app stores images*/
.appImages {
	padding: 10px 12px;
	display: inline-block;
	height: 25px;
	width: 35%;
	background-repeat: no-repeat;
	background-size: contain;
}

/*anodroid store image*/
.android {
	background-image: url("../images/badge-android.png");
}

/*apple store image*/
.iphone {
	background-image: url(../images/badge-iphone.png);
}

footer {
    width: 60%;
    height: 10%;
    position: relative;
    bottom: 32%;
    left: 25%;
}

.footerLinks {
	font-size: 12px;
	display: inline-block;
	padding: 10px;
	text-transform: uppercase;
	color: #4793d4;
	font-family: Helvetica;
}

.copyrights {
	color: grey;
}